* {
  box-sizing: border-box;
}


a:link {
  text-decoration: none;
}

.content {
  width: 100%;
height: 800px;
  margin: auto;
}

#js-canvas{
width: 78%;
  float: left;
  height: 800px;
}

#js-properties-panel {
margin-left: 80%;
  height: 800px;
}


.buttons {
  position: fixed;
  bottom: 20px;
  left: 20px;

  padding: 0;
  margin: 0;
  list-style: none;
}

.buttons > li {
  display: inline-block;
  margin-right: 10px;
}
.buttons > li > a {
  background: #DDD;
  border: solid 1px #666;
  display: inline-block;
  padding: 5px;
}

.buttons a {
  opacity: 0.3;
}

.buttons a.active {
  opacity: 1.0;
}
