<h1>A mission plan is an executable model used to command an autonomous resource.</h1>
<br/>
The plan includes a collection of waypoints, a series of activities, and a resource assignment.
<br/>
Mission plans can be parameterized and saved as templates for future missions.
<br/>
Maps can be saved separately for reuse.
<br/>
Activities can be saved separately for reuse.
<br/>
Reources are defined in terms of their hardware and capabilities. For example, <br/>
a small boat might have a single drive motor plus a rudder, or it might have two <br/>
drives and steer by thrust differentials.  Lower level activities, such as steering <br/>
and battery monitoring, are associated with the resource.
